# Gitignore for my Volleyball Rotation Generator Project

*.out

# Ignore VIM's temporary and swap files

*~
*.swp
*.swo

# CodeLite Editor Ignore
#
Debug
*.exe
*.txt
*.mk
*.workspace
*.ctagsd
*.codelite
*.project

# VS Code Ignores

.vscode/